.content-redessociais {
	background-image: url('../images/redes-sociais/redessociais-foto-bg-xs.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.content-nacao {
	background-image: url('../images/nacao/background-xs.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.content-loja {
	background-image: url('../images/loja/background.png');
}
.content-loja .container:first-child {
	background-image: url('../images/loja/camisas-xs.png');
	background-repeat: no-repeat;
	background-position: bottom center;
}